# Egy konkrét fájl kizárása
#jelszavak.txt

# Egy mappa kizárása
#secret_folder/
dist/
build/
Output/
*.iss
*.spec
# Minden .log fájl kizárása
*.log

# IDE fájlok (pl. VSCode, IntelliJ)
#.vscode/
#.idea/

# Python cache fájlok
__pycache__/
*.pyc
de.py
deepe.py
deepm.py
deepsekone.py
deepsekonem.py
deepsekonemm.py
te.py